.body {
  padding: 4rem;
} 

.card-list-container {
  padding-inline: 4rem;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  
}

.pet {
  text-decoration: none !important;
  color: black;
}

.pet-type-label {
  text-transform: capitalize;
}



.pet-image-container {
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 4px;
}

.pet-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.pet h3 {
  text-align: left;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.pet p {
  font-size: 14px;
  margin-bottom: 4px;
  margin-top: 0;
}

